@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #111727;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-main: #0B0F1A;
  --color-card: #1A1F2E;
  --color-teal: #5EEAD4;
  --color-skyblue: #7DD3FC;
  --color-purple: #C084FC;
  --color-text-white: #F8FAFC;
  --color-text-gray: #94A3B8;

  --font-manrope: Manrope, sans-serif;
  --font-bebas: Bebas Neue, sans-serif;
}

